/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(51, 51, 51);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #0033A0;
    color: white;
  }

  h1, h2 {
    color: whitesmoke;
    -webkit-text-stroke: .33px black;
  }

  body {
    background: linear-gradient(0.25turn, #D64309, #0033A0)
  }

  section {
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    text-align: left;
    background-color: #c6c6c8;
  }

  footer {
    font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #c6c6c8;
  }